
*{
    margin: 0;
    padding: 0;
}
.fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-style: normal;
  }


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 160px;
}

.nav-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}

.green-1 {
    color: #006A50;
}
.black-1 {
    color: #0E0E0E;
}
.blue-1 {
    background-color: #C6E4D6;
}
.blue-2 {
    background-color: #5490F5;
}
.green-2 {
    background-color: #09A15C;
}
.yellow-2 {
    background-color: #FFC239;
}

.btn-primary {
    border-color: #006A50;
    color: #006A50;
    border-radius: 8px;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 18px;

}
nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 18;
    font-weight: 600;
}

#hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    padding: 80px 100px;
    margin: 20px 160px;
    border-radius: 24px;
}

.hero-content {
    max-width: 622px;
}

.hero-pic {
    width: 475px;
}

.sub-title {
    font-size: 24px;
    font-weight: 500;
    opacity: 50%;
}

.main-title {
    font-size: 56px;
    font-weight: bold;
    margin-top: 16px;
}

.first-titles {
    display: flex;
}
.btn-secondary {
    border: none;
    background-color: #006A50;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    padding: 17px 34px;
    color: #FFFFFF;
    margin-top: 24px;
}

.vision-section {
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 24px;
}

.section-description {
    font-size: 16px;
    font-weight: 400;
    opacity: 70%;
}

.vision-container {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
}
.vision-1 {
    padding: 32px;
    background-color: rgba(84, 144, 245, .2);
    height: 325px;
    width: 410px;
    border-radius: 16px;
}
.vision-2 {
    padding: 32px;
    background-color: #C6E4D6;
    height: 325px;
    width: 410px;
    border-radius: 16px;
}
.vision-3 {
    padding: 32px;
    background-color: #F7EBCF;
    height: 325px;
    width: 410px;
    border-radius: 16px;
}
.vision-title {
    font-size: 20px;
    font-weight: bold;
    padding-top: 24px;
    padding-bottom: 12px;
}
.vision-description {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 24px;
}

.sec-pad {
    padding: 80px 160px 80px 160px;
}

.btn-ter {

    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    align-self: flex-end;
}